body {
    background: url(../images/bgr.jpg) top center no-repeat #101620;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

#main {
    width: 960px;
    margin: 0 auto;
}

#footer {
    background: url(../images/featured-light.jpg);
}

#nav {
    overflow: hidden;
    margin: 35px 120px 0 0;
}

#guard-pic {
    width: 960px;
    height: 230px;
    margin: 0 auto;
    background: url("../images/digimurai.png") no-repeat center;
}

.l-right {
    float:right;
}


.nav-item {
    float: left;
    margin-left: 5px;
}

.nav-link {
    display: block;
    padding:6px 15px;
    border-radius: 30px;
    color: white;
    letter-spacing: -1px;
    font:bold 21px Verdana;
}

.nav-link:hover {
    color: #f4851c;
}

.nav-link.s-active {
    color: #fff;
    background: #ff9000;
}

h2.title {
    color: #fff;
}

section.content {
    color: #bcedf1;
}

