body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:60px;
    width:888px;
    height:1021px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:894px;
    height:1027px;
}

.u1 {
    position:absolute;
    left:2px;
    top:502px;
    width:884px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_line {
    background-image: url('../登陆后页面_-_无愿望_files/u2_line.png');
}

.u2_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:760px;
}

.u2 {
    position:absolute;
    left:657px;
    top:75px;
    width:10px;
    height:760px;
    
}

.u3 {
    position:absolute;
    left:671px;
    top:83px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:671px;
    top:210px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:671px;
    top:242px;
    width:209px;
    height:34px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:34px;
}

.u6 {
    position:absolute;
    left:2px;
    top:9px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../登陆后页面_-_无愿望_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:216px;
    height:3px;
}

.u7 {
    position:absolute;
    left:671px;
    top:227px;
    width:216px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:671px;
    top:295px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../登陆后页面_-_无愿望_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:216px;
    height:3px;
}

.u9 {
    position:absolute;
    left:671px;
    top:312px;
    width:216px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:671px;
    top:326px;
    width:101px;
    height:104px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:110px;
}

.u11 {
    position:absolute;
    left:2px;
    top:44px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:786px;
    top:326px;
    width:101px;
    height:104px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:110px;
}

.u13 {
    position:absolute;
    left:2px;
    top:44px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:671px;
    top:439px;
    width:101px;
    height:104px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:110px;
}

.u15 {
    position:absolute;
    left:2px;
    top:44px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:786px;
    top:439px;
    width:101px;
    height:104px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:110px;
}

.u17 {
    position:absolute;
    left:2px;
    top:44px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:741px;
    top:329px;
    width:13px;
    height:13px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:758px;
    top:329px;
    width:17px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u10_normal.png');
}

.u21_container {
    position:absolute;
    left:671px;
    top:553px;
    width:101px;
    height:104px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:110px;
}

.u22 {
    position:absolute;
    left:2px;
    top:44px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u10_normal.png');
}

.u23_container {
    position:absolute;
    left:786px;
    top:553px;
    width:101px;
    height:104px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:107px;
    height:110px;
}

.u24 {
    position:absolute;
    left:2px;
    top:44px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:20px;
    top:190px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../登陆后页面_-_无愿望_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:627px;
    height:3px;
}

.u26 {
    position:absolute;
    left:20px;
    top:211px;
    width:627px;
    height:10px;
    
}

.u27_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:18px;
    top:435px;
    width:38px;
    height:39px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:39px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:65px;
    top:446px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:167px;
    top:446px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:21px;
    top:235px;
    width:191px;
    height:195px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u32 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:22px;
    top:237px;
    width:182px;
    height:28px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:34px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:280px;
    top:446px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:396px;
    top:446px;
    width:33px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:238px;
    top:438px;
    width:34px;
    height:32px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:32px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:10px;
    top:10px;
    width:888px;
    height:49px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:894px;
    height:55px;
}

.u40 {
    position:absolute;
    left:2px;
    top:16px;
    width:884px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:20px;
    top:15px;
    width:48px;
    height:35px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:41px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:28px;
    top:22px;
    width:36px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:148px;
    top:17px;
    width:303px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:42px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:157px;
    top:27px;
    width:281px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:75px;
    top:21px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:148px;
    top:55px;
    width:303px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:46px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:157px;
    top:66px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../登陆后页面_-_无愿望_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:287px;
    height:3px;
}

.u51 {
    position:absolute;
    left:157px;
    top:85px;
    width:287px;
    height:10px;
    
}

.u52_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u52_container {
    position:absolute;
    left:238px;
    top:234px;
    width:191px;
    height:195px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u53 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u54_container {
    position:absolute;
    left:456px;
    top:234px;
    width:191px;
    height:195px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u55 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u27_normal.png');
}

.u56_container {
    position:absolute;
    left:452px;
    top:435px;
    width:38px;
    height:39px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:39px;
}

.u57 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:499px;
    top:446px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:601px;
    top:446px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u27_normal.png');
}

.u60_container {
    position:absolute;
    left:18px;
    top:705px;
    width:38px;
    height:39px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:39px;
}

.u61 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:65px;
    top:716px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:167px;
    top:716px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u64_container {
    position:absolute;
    left:21px;
    top:505px;
    width:191px;
    height:195px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u65 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u33_normal.png');
}

.u66_container {
    position:absolute;
    left:22px;
    top:507px;
    width:182px;
    height:28px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:34px;
}

.u67 {
    position:absolute;
    left:2px;
    top:6px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u18_normal.png');
}

.u68_container {
    position:absolute;
    left:175px;
    top:509px;
    width:13px;
    height:13px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u69 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:192px;
    top:509px;
    width:17px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:280px;
    top:716px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:396px;
    top:716px;
    width:33px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u37_normal.png');
}

.u73_container {
    position:absolute;
    left:238px;
    top:708px;
    width:34px;
    height:32px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:32px;
}

.u74 {
    position:absolute;
    left:2px;
    top:8px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u75_container {
    position:absolute;
    left:238px;
    top:504px;
    width:191px;
    height:195px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u76 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u77_container {
    position:absolute;
    left:456px;
    top:504px;
    width:191px;
    height:195px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u78 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u27_normal.png');
}

.u79_container {
    position:absolute;
    left:452px;
    top:705px;
    width:38px;
    height:39px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:39px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:499px;
    top:716px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:601px;
    top:716px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u27_normal.png');
}

.u83_container {
    position:absolute;
    left:18px;
    top:975px;
    width:38px;
    height:39px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:39px;
}

.u84 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:65px;
    top:986px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:167px;
    top:986px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u87_container {
    position:absolute;
    left:21px;
    top:775px;
    width:191px;
    height:195px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u88 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u33_normal.png');
}

.u89_container {
    position:absolute;
    left:22px;
    top:777px;
    width:182px;
    height:28px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:34px;
}

.u90 {
    position:absolute;
    left:2px;
    top:6px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u18_normal.png');
}

.u91_container {
    position:absolute;
    left:175px;
    top:779px;
    width:13px;
    height:13px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u92 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:192px;
    top:779px;
    width:17px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:280px;
    top:986px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:396px;
    top:986px;
    width:33px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u37_normal.png');
}

.u96_container {
    position:absolute;
    left:238px;
    top:978px;
    width:34px;
    height:32px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:32px;
}

.u97 {
    position:absolute;
    left:2px;
    top:8px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u98_container {
    position:absolute;
    left:238px;
    top:774px;
    width:191px;
    height:195px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u99 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u31_normal.png');
}

.u100_container {
    position:absolute;
    left:456px;
    top:774px;
    width:191px;
    height:195px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:201px;
}

.u101 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u27_normal.png');
}

.u102_container {
    position:absolute;
    left:452px;
    top:975px;
    width:38px;
    height:39px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:39px;
}

.u103 {
    position:absolute;
    left:2px;
    top:12px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:499px;
    top:986px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:601px;
    top:986px;
    width:54px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:21px;
    top:234px;
    width:191px;
    height:196px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:202px;
}

.u107 {
    position:absolute;
    left:2px;
    top:90px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:34px;
    top:386px;
    width:150px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u18_normal.png');
}

.u109_container {
    position:absolute;
    left:175px;
    top:239px;
    width:13px;
    height:13px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:19px;
}

.u110 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:192px;
    top:239px;
    width:17px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:568px;
    top:19px;
    width:30px;
    height:30px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u113 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:603px;
    top:25px;
    width:104px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:754px;
    top:13px;
    width:70px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_line {
    background-image: url('../登陆后页面_-_无愿望_files/u116_line.png');
}

.u116_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u116 {
    position:absolute;
    left:727px;
    top:18px;
    width:10px;
    height:30px;
    
}

.u117_line {
    background-image: url('../登陆后页面_-_无愿望_files/u117_line.png');
}

.u117_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u117 {
    position:absolute;
    left:828px;
    top:18px;
    width:10px;
    height:30px;
    
}

.u118 {
    position:absolute;
    left:853px;
    top:25px;
    width:34px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:659px;
    top:72px;
    width:242px;
    height:109px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:109px;
}

.u120 {
    position:absolute;
    left:2px;
    top:46px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../登陆后页面_-_无愿望_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:794px;
    top:48px;
    width:102px;
    height:197px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:203px;
}

.u122 {
    position:absolute;
    left:2px;
    top:90px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:801px;
    top:62px;
    width:91px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_line {
    background-image: url('../登陆后页面_-_无愿望_files/u124_line.png');
}

.u124_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u124 {
    position:absolute;
    left:801px;
    top:88px;
    width:84px;
    height:10px;
    
}

.u125 {
    position:absolute;
    left:801px;
    top:102px;
    width:91px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_line {
    background-image: url('../登陆后页面_-_无愿望_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u126 {
    position:absolute;
    left:801px;
    top:122px;
    width:84px;
    height:10px;
    
}

.u127 {
    position:absolute;
    left:801px;
    top:142px;
    width:91px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_line {
    background-image: url('../登陆后页面_-_无愿望_files/u128_line.png');
}

.u128_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u128 {
    position:absolute;
    left:801px;
    top:162px;
    width:84px;
    height:10px;
    
}

.u129 {
    position:absolute;
    left:801px;
    top:177px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_line {
    background-image: url('../登陆后页面_-_无愿望_files/u130_line.png');
}

.u130_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u130 {
    position:absolute;
    left:801px;
    top:199px;
    width:84px;
    height:10px;
    
}

