body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:671px;
    top:83px;
    width:196px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:671px;
    top:140px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../登陆后无好友_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:671px;
    top:172px;
    width:209px;
    height:34px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:34px;
}

.u3 {
    position:absolute;
    left:2px;
    top:9px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../登陆后无好友_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:4px;
    width:216px;
    height:3px;
}

.u4 {
    position:absolute;
    left:671px;
    top:157px;
    width:216px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:671px;
    top:225px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../登陆后无好友_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:28px;
    top:349px;
    width:627px;
    height:91px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:633px;
    height:97px;
}

.u7 {
    position:absolute;
    left:2px;
    top:39px;
    width:623px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../登陆后无好友_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:10px;
    top:10px;
    width:888px;
    height:49px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:894px;
    height:55px;
}

.u9 {
    position:absolute;
    left:2px;
    top:16px;
    width:884px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../登陆后无好友_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:20px;
    top:15px;
    width:48px;
    height:35px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:41px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:28px;
    top:22px;
    width:36px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../登陆后无好友_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:148px;
    top:17px;
    width:303px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:157px;
    top:27px;
    width:281px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:75px;
    top:21px;
    width:80px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../登陆后无好友_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:148px;
    top:55px;
    width:303px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:309px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:299px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:157px;
    top:66px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../登陆后无好友_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:287px;
    height:3px;
}

.u20 {
    position:absolute;
    left:157px;
    top:85px;
    width:287px;
    height:10px;
    
}

.u21_normal {
    background-image: url('../登陆后无好友_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:568px;
    top:19px;
    width:30px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:603px;
    top:25px;
    width:104px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:754px;
    top:13px;
    width:70px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../登陆后无好友_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u25 {
    position:absolute;
    left:727px;
    top:18px;
    width:10px;
    height:30px;
    
}

.u26_line {
    background-image: url('../登陆后无好友_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u26 {
    position:absolute;
    left:828px;
    top:18px;
    width:10px;
    height:30px;
    
}

.u27 {
    position:absolute;
    left:853px;
    top:25px;
    width:34px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../登陆后无好友_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:790px;
    top:48px;
    width:102px;
    height:161px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:108px;
    height:167px;
}

.u29 {
    position:absolute;
    left:2px;
    top:72px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:800px;
    top:62px;
    width:91px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_line {
    background-image: url('../登陆后无好友_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u31 {
    position:absolute;
    left:800px;
    top:88px;
    width:84px;
    height:10px;
    
}

.u32 {
    position:absolute;
    left:800px;
    top:102px;
    width:91px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../登陆后无好友_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u33 {
    position:absolute;
    left:800px;
    top:122px;
    width:84px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:800px;
    top:142px;
    width:91px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../登陆后无好友_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u35 {
    position:absolute;
    left:800px;
    top:162px;
    width:84px;
    height:10px;
    
}

.u36 {
    position:absolute;
    left:800px;
    top:177px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../登陆后无好友_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:84px;
    height:3px;
}

.u37 {
    position:absolute;
    left:800px;
    top:199px;
    width:84px;
    height:10px;
    
}

.u38_normal {
    background-image: url('../登陆后无好友_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:109px;
    top:113px;
    width:391px;
    height:212px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:397px;
    height:218px;
}

.u39 {
    position:absolute;
    left:2px;
    top:98px;
    width:387px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:128px;
    top:135px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../登陆后无好友_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:166px;
    top:193px;
    width:48px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:54px;
}

.u42 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:172px;
    top:195px;
    width:37px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:224px;
    top:207px;
    width:185px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:224px;
    top:235px;
    width:83px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:225px;
    top:261px;
    width:251px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../登陆后无好友_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:245px;
    top:458px;
    width:161px;
    height:45px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:51px;
}

.u48 {
    position:absolute;
    left:2px;
    top:15px;
    width:157px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../登陆后无好友_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:86px;
    top:528px;
    width:247px;
    height:112px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:112px;
}

.u50 {
    position:absolute;
    left:2px;
    top:48px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:104px;
    top:514px;
    width:70px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_container {
    position:absolute;
    left:112px;
    top:877px;
    width:207px;
    height:125px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:207px;
    height:125px;
}

.u53 {
    position:absolute;
    left:2px;
    top:54px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:82px;
    top:706px;
    width:112px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:352px;
    top:889px;
    width:224px;
    height:43px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:156px;
    top:811px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_text_sketch {
    font-family: '应用字体';
}

.u57_start {
    background-image: url('../登陆后无好友_files/u57_start.png');
}

.u57_start {
    position:absolute;
    left:-5px;
    top:-4px;
    width:20px;
    height:14px;
}

.u57_end {
    background-image: url('../登陆后无好友_files/u57_end.png');
}

.u57_end {
    position:absolute;
    left:-5px;
    top:191px;
    width:20px;
    height:14px;
}

.u57_line {
    background-image: url('../登陆后无好友_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:200px;
}

.u57 {
    position:absolute;
    left:360px;
    top:631px;
    width:10px;
    height:200px;
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    transform: rotate(36deg);

}

.u58_normal {
    background-image: url('../登陆后无好友_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:98px;
    top:1051px;
    width:232px;
    height:239px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:239px;
}

.u59 {
    position:absolute;
    left:2px;
    top:112px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:100px;
    top:1297px;
    width:189px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:100px;
    top:1323px;
    width:57px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../登陆后无好友_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:156px;
    top:1319px;
    width:37px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:24px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:196px;
    top:1323px;
    width:56px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:100px;
    top:1353px;
    width:219px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:100px;
    top:1379px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66_text_sketch {
    font-family: '应用字体';
}

