body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../主页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1081px;
    height:1309px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1087px;
    height:1315px;
}

.u1 {
    position:absolute;
    left:2px;
    top:646px;
    width:1077px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1081px;
    height:582px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1087px;
    height:588px;
}

.u3 {
    position:absolute;
    left:2px;
    top:283px;
    width:1077px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../主页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:30px;
    top:41px;
    width:79px;
    height:58px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:64px;
}

.u5 {
    position:absolute;
    left:2px;
    top:21px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:43px;
    top:53px;
    width:59px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:116px;
    top:46px;
    width:80px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:116px;
    top:79px;
    width:193px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../主页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:863px;
    top:42px;
    width:194px;
    height:55px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:61px;
}

.u10 {
    position:absolute;
    left:2px;
    top:20px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../主页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:868px;
    top:46px;
    width:52px;
    height:49px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:49px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:929px;
    top:60px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:116px;
    top:241px;
    width:257px;
    height:79px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:118px;
    top:342px;
    width:214px;
    height:53px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:59px;
}

.u16 {
    position:absolute;
    left:2px;
    top:16px;
    width:210px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../主页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:516px;
    top:195px;
    width:540px;
    height:306px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:312px;
}

.u18 {
    position:absolute;
    left:2px;
    top:145px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:118px;
    top:408px;
    width:214px;
    height:74px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:80px;
}

.u20 {
    position:absolute;
    left:2px;
    top:29px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:125px;
    top:419px;
    width:184px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../主页_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:120px;
    top:440px;
    width:140px;
    height:35px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:35px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../主页_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:260px;
    top:439px;
    width:70px;
    height:36px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../主页_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:706px;
    width:1081px;
    height:727px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1087px;
    height:733px;
}

.u27 {
    position:absolute;
    left:2px;
    top:356px;
    width:1077px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../主页_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1047px;
    height:3px;
}

.u28 {
    position:absolute;
    left:24px;
    top:838px;
    width:1047px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:24px;
    top:722px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../主页_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:107px;
    top:838px;
    width:10px;
    height:10px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../主页_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:83px;
    top:768px;
    width:60px;
    height:60px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u33 {
    position:absolute;
    left:2px;
    top:24px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../主页_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:516px;
    top:768px;
    width:60px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:24px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../主页_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:919px;
    top:768px;
    width:60px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../主页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:542px;
    top:838px;
    width:10px;
    height:10px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../主页_files/u30_normal.png');
}

.u40_container {
    position:absolute;
    left:946px;
    top:838px;
    width:10px;
    height:10px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../主页_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:24px;
    top:858px;
    width:242px;
    height:255px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:261px;
}

.u43 {
    position:absolute;
    left:2px;
    top:120px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:24px;
    top:1048px;
    width:242px;
    height:65px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:71px;
}

.u45 {
    position:absolute;
    left:2px;
    top:24px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../主页_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:24px;
    top:1113px;
    width:242px;
    height:60px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:66px;
}

.u47 {
    position:absolute;
    left:2px;
    top:22px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../主页_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:29px;
    top:1136px;
    width:34px;
    height:31px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:37px;
}

.u49 {
    position:absolute;
    left:2px;
    top:8px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:79px;
    top:1136px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:79px;
    top:1151px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../主页_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:214px;
    top:1136px;
    width:45px;
    height:33px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:39px;
}

.u53 {
    position:absolute;
    left:2px;
    top:9px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:30px;
    top:1057px;
    width:229px;
    height:41px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../主页_files/u42_normal.png');
}

.u55_container {
    position:absolute;
    left:294px;
    top:858px;
    width:242px;
    height:255px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:261px;
}

.u56 {
    position:absolute;
    left:2px;
    top:120px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u57_container {
    position:absolute;
    left:294px;
    top:1048px;
    width:242px;
    height:65px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:71px;
}

.u58 {
    position:absolute;
    left:2px;
    top:24px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../主页_files/u46_normal.png');
}

.u59_container {
    position:absolute;
    left:294px;
    top:1113px;
    width:242px;
    height:60px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:66px;
}

.u60 {
    position:absolute;
    left:2px;
    top:22px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../主页_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:299px;
    top:1132px;
    width:33px;
    height:35px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:39px;
    height:41px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:349px;
    top:1135px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:349px;
    top:1151px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../主页_files/u52_normal.png');
}

.u65_container {
    position:absolute;
    left:484px;
    top:1136px;
    width:45px;
    height:33px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:39px;
}

.u66 {
    position:absolute;
    left:2px;
    top:9px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:300px;
    top:1057px;
    width:229px;
    height:41px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../主页_files/u42_normal.png');
}

.u68_container {
    position:absolute;
    left:561px;
    top:858px;
    width:242px;
    height:255px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:261px;
}

.u69 {
    position:absolute;
    left:2px;
    top:120px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../主页_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:561px;
    top:1018px;
    width:242px;
    height:95px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:101px;
}

.u71 {
    position:absolute;
    left:2px;
    top:40px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../主页_files/u46_normal.png');
}

.u72_container {
    position:absolute;
    left:561px;
    top:1113px;
    width:242px;
    height:60px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:66px;
}

.u73 {
    position:absolute;
    left:2px;
    top:22px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../主页_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:566px;
    top:1132px;
    width:40px;
    height:35px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:41px;
}

.u75 {
    position:absolute;
    left:2px;
    top:10px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:616px;
    top:1132px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:616px;
    top:1151px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../主页_files/u52_normal.png');
}

.u78_container {
    position:absolute;
    left:751px;
    top:1133px;
    width:45px;
    height:33px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:39px;
}

.u79 {
    position:absolute;
    left:2px;
    top:9px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:568px;
    top:1025px;
    width:229px;
    height:69px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../主页_files/u42_normal.png');
}

.u81_container {
    position:absolute;
    left:829px;
    top:858px;
    width:242px;
    height:255px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:261px;
}

.u82 {
    position:absolute;
    left:2px;
    top:120px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u83_container {
    position:absolute;
    left:829px;
    top:1048px;
    width:242px;
    height:65px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:71px;
}

.u84 {
    position:absolute;
    left:2px;
    top:24px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../主页_files/u46_normal.png');
}

.u85_container {
    position:absolute;
    left:829px;
    top:1113px;
    width:242px;
    height:60px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:66px;
}

.u86 {
    position:absolute;
    left:2px;
    top:22px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../主页_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:834px;
    top:1133px;
    width:31px;
    height:34px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:37px;
    height:40px;
}

.u88 {
    position:absolute;
    left:2px;
    top:9px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:879px;
    top:1132px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:884px;
    top:1151px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../主页_files/u52_normal.png');
}

.u91_container {
    position:absolute;
    left:1019px;
    top:1134px;
    width:45px;
    height:33px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:39px;
}

.u92 {
    position:absolute;
    left:2px;
    top:9px;
    width:41px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:835px;
    top:1057px;
    width:229px;
    height:41px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../主页_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:10px;
    top:1196px;
    width:1081px;
    height:135px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1087px;
    height:141px;
}

.u95 {
    position:absolute;
    left:2px;
    top:60px;
    width:1077px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:175px;
    top:1253px;
    width:408px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../主页_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:597px;
    top:1243px;
    width:169px;
    height:50px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:56px;
}

.u98 {
    position:absolute;
    left:2px;
    top:16px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../主页_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:10px;
    top:1332px;
    width:1081px;
    height:196px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1087px;
    height:202px;
}

.u100 {
    position:absolute;
    left:2px;
    top:92px;
    width:1077px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../主页_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:10px;
    top:592px;
    width:1081px;
    height:113px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1087px;
    height:119px;
}

.u102 {
    position:absolute;
    left:2px;
    top:48px;
    width:1077px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../主页_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:417px;
    top:565px;
    width:96px;
    height:27px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:33px;
}

.u104 {
    position:absolute;
    left:2px;
    top:6px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../主页_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:248px;
    top:625px;
    width:361px;
    height:45px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:367px;
    height:51px;
}

.u106 {
    position:absolute;
    left:2px;
    top:14px;
    width:357px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../主页_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:641px;
    top:624px;
    width:58px;
    height:45px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:51px;
}

.u108 {
    position:absolute;
    left:2px;
    top:14px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:314px;
    top:640px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../主页_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:24px;
    top:1173px;
    width:242px;
    height:93px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:99px;
}

.u111 {
    position:absolute;
    left:2px;
    top:38px;
    width:238px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../主页_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:30px;
    top:1179px;
    width:25px;
    height:25px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:60px;
    top:1182px;
    width:199px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../主页_files/u112_normal.png');
}

.u115_container {
    position:absolute;
    left:30px;
    top:1222px;
    width:25px;
    height:25px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u116 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:60px;
    top:1227px;
    width:206px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:54px;
    top:1571px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../主页_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:657px;
    top:633px;
    width:30px;
    height:25px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:25px;
}

.u120 {
    position:absolute;
    left:2px;
    top:4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

