<!doctype html>
<html>
<head>
    <title>遗世之都</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://necolas.github.com/normalize.css/2.1.0/normalize.css">
    <link rel="stylesheet" href="global/global.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
<header id="header">
<nav id="nav">
    <ul class="nav-list l-right">
        <li class="nav-item"><a>Home</a></li>
        <li class="nav-item"><a>Article</a></li>
        <li class="nav-item"><a>Demo</a></li>
        <li class="nav-item"><a>Project</a></li>
    </ul>
</nav>
</header>
<div id="main">

</div>
<footer id="#footer">

</footer>
</body>
</html>