<!doctype html>
<html>
<head>
    <title>遗世之都</title>
    <meta charset="utf-8"/>
    <meta name="viewport"  content="initial-scale=1,width=device-width" />
    <link rel="stylesheet" href="http://necolas.github.com/normalize.css/2.1.0/normalize.css">
    <link rel="stylesheet" href="/global/global.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header id="header">
    <nav id="nav">
        <ul class="nav-list l-right">
            <li class="nav-item">
                <a class="nav-link {% if page.HOME %} s-active {% endif %}" href="/">HOME</a>
            </li>
            <!--<li class="nav-item"><a class="nav-link" href="#">ARCHIVE</a></li>-->
            <li class="nav-item">
                <a class="nav-link {% if page.SHARE %} s-active {% endif %}" href="share.html">SHARE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.ABOUT %} s-active {% endif %}" href="resume">ABOUT ME</a>
            </li>
        </ul>
    </nav>
    <section id="guard-pic"></section>
</header>
<section id="main">
    <!--  <a class="logo l-left" href="/" title="Exodia"><img width="120" height="50"
          src="http://yunpan.alibaba.com/share/scan.do?info=H91Jhcjxo&pInfo=H91Jhcjxo&app_name=" alt="Exodia" />
      </a>-->
    <section class="content">
        {{content}}
    </section>
</section>
<footer id="footer">

</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</body>
</html>