<!doctype html>
<html>
<head>
    <title>遗世之都</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://necolas.github.com/normalize.css/2.1.0/normalize.css">
    <link rel="stylesheet" href="/global/global.css">
</head>
<body>
<header id="header">
    <nav id="nav">
        <ul class="nav-list l-right">
            <li class="nav-item">
                <a class="nav-link {% if page.HOME %} s-active {% endif %}" href="/">HOME</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">ARCHIVE</a></li>
            <li class="nav-item"><a class="nav-link" href="#">DEMO</a></li>
            <li class="nav-item"><a class="nav-link" href="#">PROJECT</a></li>
            <li class="nav-item"><a class="nav-link" href="#">SHARE</a></li>
        </ul>
    </nav>
    <section id="guard-pic"></section>
</header>
<section id="main">
    <section class="content">
        {{content}}
    </section>
</section>
<footer id="footer">

</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</body>
</html>