<!doctype html>
<html>
<head>
    <title>{{page.title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,width=device-width"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/libs/highlight/styles/darkula.css">
    <script src="/libs/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<header id="header">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if page.HOME %} s-active {% endif %}" href="/">HOME</a>
            </li>
        </ul>
    </nav>
</header>
<section id="main" class="container">
    <section class="content">
        <article>
            {{content}}
        </article>
    </section>
</section>

</body>
</html>